  /* Basic styles for the layout */
  body {
    margin: 0;
    padding: 0;
  }

  header {
    background: slategray;
    color: #fff;
    padding: 10px;
    border: 0px solid black;
  }

  .logo {
    float: left;
  }

  .top-nav {
    position: relative;
  }

.sub-menu {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  top: 11%;
  left: 0;
  width: 100%;
  z-index: 1;
}

  .sub-menu-text {
    text-align: left;
    padding-left: 10px;
    margin: 0;
    font-weight: bold;
  }

  .dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content ul li {
    display: inline;
    margin-right: 10px;
  }

  .dropdown-content ul li a {
    text-decoration: none;
    color: #333;
  }

  .top-nav ul li {
    display: inline-block;
    position: relative;
  }

  .top-nav ul li:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    top: 100%;
    left: 0;
    z-index: 1;
  }
      
  .top-nav ul li:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
  }

  .dropdown-item i {
    margin-right: 5px;
  }

.left-menu {
  background: #f4f4f4;
  position: absolute;
  left: 0;
  top: calc(11% + 30px); /* Adjust the top value as needed */
  width: 200px;
  bottom: 0;
  padding: 10px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

  .left-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .left-menu ul li {
    margin-bottom: 5px;
  }

  .left-menu ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
  }

.content {
  margin-left: 200px;
  margin-top: 20px; /* Adjust the top value as needed */
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #e8f0f8;
  min-height: 100vh;
}

  .content-box {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
  }

  .content-box.left {
    margin-right: 20px;
  }

  .content-box.center {
    width: 60%;
  }

  .content-box-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .content-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .content-box ul li {
    margin-bottom: 5px;
  }

  .content-box ul li a {
    text-decoration: none;
    color: #333;
  }

  @media screen and (max-width: 768px) {
    .content-box {
      width: 80%;
    }
  }
